.wl{background:#6e6965;overflow:hidden}
.ao0{left:0;position:absolute}
.a4t{width:100%;height:100%;background-size:cover;background-position:center}
.ao1{-moz-transform:scaleX(-1);transform:scaleX(-1);filter:FlipH}
.cS .wp{background:url(//ssl.gstatic.com/ui/v1/icons/mail/images/2/5/orcasisland/thursday_02.jpg) no-repeat top left}
.cN .wp{background:url(//ssl.gstatic.com/ui/v1/icons/mail/images/2/5/orcasisland/thursday_02.jpg) no-repeat top left}
.cL .wp{background:url(//ssl.gstatic.com/ui/v1/icons/mail/images/2/5/orcasisland/thursday_02.jpg) no-repeat top left}
.cR .wp{background:url(//ssl.gstatic.com/ui/v1/icons/mail/images/2/5/orcasisland/thursday_02.jpg) no-repeat top left}